<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291492668851-cqhk7d5oq2frdosslue0cg74sd6uqlle.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291492668851-cqhk7d5oq2frdosslue0cg74sd6uqlle</string>
	<key>API_KEY</key>
	<string>AIzaSyCMAW5w3VJigEmvUOxGAK648Gk0dYeV888</string>
	<key>GCM_SENDER_ID</key>
	<string>291492668851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>postnikovpetr.AppAuth2</string>
	<key>PROJECT_ID</key>
	<string>appauth-fc2d5</string>
	<key>STORAGE_BUCKET</key>
	<string>appauth-fc2d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291492668851:ios:90208a8144c30c9a1e17c6</string>
</dict>
</plist>